body{
    font-family: 'Lato',sans-serif;
    -webkit-font-smoothing: antialiased;
}
nav{
    background: rgb(238, 15, 82);
    color: whitesmoke;
    height: 65px;
}
























/* 
body{
    font-family: 'Lato',sans-serif;
    -webkit-font-smoothing: antialiased;
}
nav{
    background: $primary;
    color: $pure;
}
nav li:last-child a{
    background: $primary;
    &:hover{
        background: $primary-hover;
    }
}

li a{
    transition: $smooth;
    &:hover{
        color: $primary;
    }
}
section.categories{
    background: $secondary;
    h1{
        color: $primary;
    }
}
section div span.reating{
    background-color: rgb(37, 211, 37);
    color: $secondary;
}
section div.detail{
    color: $primary;
    a{
        transition: $smooth;
        &:hover{
            color: $primary-hover;
            }
    }
    
} */
